{% extends "layout.html" %}
{% block title %}Map{% endblock %}
{% block content %}
    <h2>Live Map</h2>
    <div id="map" style="height: 500px;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script>
        var map = L.map('map').setView([{{ patient_lat }}, {{ patient_lng }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        var patientMarker = L.marker([{{ patient_lat }}, {{ patient_lng }}]).addTo(map).bindPopup('Patient Location');
        var driverMarker = L.marker([{{ driver_lat }}, {{ driver_lng }}]).addTo(map).bindPopup('Driver Location');

        L.Routing.control({
            waypoints: [
                L.latLng({{ driver_lat }}, {{ driver_lng }}),
                L.latLng({{ patient_lat }}, {{ patient_lng }})
            ],
            routeWhileDragging: true
        }).addTo(map);
    </script>
{% endblock %}